*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 900px;
	margin: 0 auto;
}
.nav {
}
.nav__link {
}
.contaner {
}
.content {
}
.text{

}
.title {
}
.sidebar {
}
.title__side {
}
.text__side {
}
footer{

}

